:root {
  --bg-primary: #ffffff;
  --text-primary: #111827;
  --text-secondary: #6b7280;
}

html.dark {
  --bg-primary: #12151d;
  --text-primary: #ffffff;
  --text-secondary: #c5cad3;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}