---
import { skills } from "../../data/skills";
import SkillCard from "../ui/SkillCard.astro";
---

<section class="about-section" id="skills">
  <h2 data-translate data-en="Technical Skills" data-es="Habilidades Técnicas">
    Technical Skills
  </h2>

  <div class="skills-grid">
    {skills.map((skill) => <SkillCard name={skill.name} icon={skill.icon} />)}
  </div>
</section>
