<section class="about-section">

<h2
data-translate
data-en="Education"
data-es="Educación">
Education
</h2>

<div class="education-grid">

<div class="education-card">

<h3>Engineering in Communications and Electronics</h3>

<p class="date">
Instituto Politécnico Nacional – ESIME Zacatenco
</p>

</div>

<div class="education-card">

<h3>Web Development Bootcamp</h3>

<p class="date">
Udemy
</p>

</div>

</div>

</section>