---
import Layout from "../layouts/layout.astro";

import AboutHero from "../components/about/AboutHero.astro";
import AboutProfile from "../components/about/AboutProfile.astro";
import AboutSkills from "../components/about/AboutSkills.astro";
import AboutSoftSkills from "../components/about/AboutSoftSkills.astro";
import AboutExperience from "../components/about/AboutExperience.astro";
import AboutEducation from "../components/about/AboutEducation.astro";

import "../styles/about.css";
---

<Layout title="About - Web Developer Profile">

<div class="about-container">

<AboutHero />

<div class="about-content">

<AboutProfile />

<AboutSkills />

<AboutSoftSkills />

<AboutExperience />

<AboutEducation />

</div>

</div>

</Layout>