---
import Layout from "../layouts/layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Web Developer Profile">

<Header />

<section class="max-w-6xl mx-auto px-6 py-20">

<h2 class="text-3xl font-bold mb-6">
About Me
</h2>

<p class="text-lg text-gray-500 dark:text-gray-300">
Frontend developer focused on building scalable interfaces.
</p>

</section>

</Layout>