---
/* CardFlip component - Pure UI for 3D profile flip card */
---

<div class="profile-flip-container reveal-left">

  <div class="profile-flip" tabindex="0" role="button" aria-label='Flip profile card'>
 
    <div class="profile-front">
 
      <img src='/images/mansl.jpg' alt='Hao Frontend Developer profile image' loading='lazy'  />
    </div>

    <div class="profile-back">
      ¡Hola! Soy Hao
    </div>
  </div>
</div>
