---
/* CardFlip component - Pure UI for 3D profile flip card */
---

<div class="profile-flip-container reveal-left">

  <div class="profile-flip" tabindex="0" role="button" aria-label='Flip profile card'>
 
    <div class="profile-front">
 
      <img src='/public/images/prof.png' alt='Hao Frontend Developer profile image' loading='lazy'  />
    </div>

    <div class="profile-back">
      <img src="/public/images/infan.png"/>
    </div>
  </div>
</div>
