---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <!-- Logo izquierda clickable home -->
      <div class="footer-left">
        <a href="/" aria-label="Home">
          <svg
            class="footer-logo hover:scale-110 transition-all duration-300"
            role="img"
            aria-label="Logo SV - Home"
            version="1.0"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 416.217913 322.365435"
            preserveAspectRatio="xMidYMid meet"
          >
            <g
              transform="translate(-58.021257,359.574031) scale(0.100000,-0.100000)"
              fill="currentColor"
              stroke="none"
            >
              <path
                d="M2855 3594 c-270 -28 -441 -61 -643 -126 -710 -227 -1270 -722 -1515
                  -1338 -92 -231 -117 -374 -117 -680 0 -146 5 -222 26 -360 14 -96 29 -179 34
                  -184 5 -5 12 13 16 40 4 27 22 93 41 148 237 685 820 1290 1462 1517 181 64
                  270 80 476 86 241 7 372 -6 491 -48 239 -84 400 -209 515 -398 86 -143 120
                  -345 84 -507 -72 -327 -414 -594 -780 -609 -55 -2 -89 -2 -75 1 14 2 52 9 85
                  15 263 45 491 207 612 435 23 44 49 107 57 140 20 79 21 223 1 299 -74 281
                  -356 440 -649 365 -104 -26 -183 -70 -267 -148 -157 -146 -215 -288 -208 -509
                  4 -103 6 -112 48 -200 24 -51 53 -100 63 -109 23 -22 23 -11 -3 56 -16 42 -22
                  79 -22 160 -2 99 0 109 32 177 40 86 135 184 221 228 46 24 70 29 151 33 127
                  6 189 -12 258 -74 124 -112 153 -284 74 -452 -32 -69 -152 -192 -236 -241
                  -133 -78 -310 -117 -495 -108 -183 8 -323 59 -487 175 -157 111 -237 202 -338
                  386 l-64 116 -7 -37 c-15 -87 -19 -292 -7 -371 25 -170 93 -352 181 -483 90
                  -133 282 -308 438 -398 243 -141 477 -206 777 -217 289 -10 474 17 705 103
                  491 183 835 558 931 1013 17 81 22 138 21 250 0 221 -43 402 -143 603 -211
                  425 -644 764 -1148 899 -112 30 -125 31 -364 36 -278 5 -321 0 -582 -68 -234
                  -61 -356 -105 -541 -195 -286 -141 -524 -312 -754 -544 -123 -124 -183 -195
                  -294 -352 -49 -70 -38 -38 22 64 181 304 500 616 845 826 153 93 397 205 554
                  255 469 147 1150 202 1738 139 53 -5 59 -4 47 9 -41 50 -448 144 -722 167
                  -133 11 -486 21 -545 15z m284 -475 c381 -83 694 -319 851 -643 64 -131 89
                  -225 96 -361 11 -193 -19 -337 -107 -507 -74 -141 -213 -296 -346 -386 -77
                  -51 -83 -55 -83 -45 0 4 17 19 38 33 52 34 205 184 257 250 93 120 168 309
                  187 473 36 306 -81 610 -325 844 -193 184 -393 283 -716 354 l-86 19 70 -5
                  c39 -3 112 -15 164 -26z m-159 -164 c391 -93 668 -291 814 -583 30 -60 47
                  -102 42 -102 -3 0 -33 48 -68 107 -131 220 -322 370 -595 464 -130 45 -259 62
                  -478 62 -170 0 -203 -2 -313 -27 -319 -70 -618 -218 -902 -444 -185 -147 -419
                  -407 -560 -622 -75 -115 -177 -322 -220 -445 -37 -106 -51 -127 -38 -55 86
                  473 465 987 983 1335 126 84 388 213 525 259 186 61 304 77 540 71 134 -3 227
                  -10 270 -20z m1294 -350 c67 -100 96 -157 133 -265 44 -125 58 -210 57 -350
                  -1 -278 -113 -529 -329 -743 -172 -169 -379 -276 -680 -353 -105 -26 -121 -28
                  -355 -28 -204 -1 -260 2 -335 18 -190 40 -399 127 -555 230 -104 70 -273 214
                  -291 249 -7 14 4 8 32 -19 284 -265 609 -401 984 -412 296 -8 527 38 756 153
                  300 151 554 447 639 746 31 108 39 353 16 469 -27 130 -78 254 -175 425 l-23
                  40 36 -40 c20 -22 61 -76 90 -120z m-1114 -416 c36 -5 83 -19 105 -29 49 -24
                  143 -116 174 -170 32 -58 17 -49 -22 13 -84 131 -244 198 -426 177 -84 -9
                  -101 -6 -50 9 46 13 140 13 219 0z m-294 -34 c-11 -8 -25 -15 -30 -15 -6 0 -2
                  7 8 15 11 8 25 15 30 15 6 0 2 -7 -8 -15z m1719 -543 c-28 -120 -121 -313
                  -205 -423 -121 -162 -333 -329 -540 -428 -487 -232 -1083 -219 -1535 34 -171
                  95 -361 275 -461 437 -69 113 -84 159 -20 66 153 -223 495 -463 788 -552 217
                  -66 496 -92 716 -67 376 44 734 211 946 443 123 134 239 325 287 476 28 86 43
                  95 24 14z"
              ></path>
            </g>
          </svg>
        </a>
      </div>

      <!-- Contact cencenter -->
<div class="footer-center">
        <h4
          class="contact-title"
          data-translate
          data-en="Contact"
          data-es="Contacto"
        >
          Contact

        </h4>
        <div class="footer-icons-row">
          <div class="created-section">
            <ul class="contact-info">
              <li
                class="created-by"
                data-translate
                data-en="Created by: Alan Navarrete S"
                data-es="Creado por: Alan Navarrete S"
              >
                Created by: Alan Navarrete S
              </li>

              <li
                class="location"
                data-translate
                data-en="Location: Mexico City"
                data-es="Ubicación: Ciudad de México"
              >
                Location: Mexico City
              </li>

              <li
                class="cell"
                data-translate
                data-en="Cell: +52 5543547891"
                data-es="Cel: +52 5543547891"
              >
                Cell: +52 5543547891
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Social icons right - unics -->
      <div class="footer-right">
        <div class="social-links-group">
          <a
            href="https://www.linkedin.com/in/alan-navarrete/"
            target="_blank"
            rel="noopener"
            aria-label="LinkedIn"
            class="social-link linkedin"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.02-1.57.27-2.12a2.211 2.211 0 0 1 2.11-1.49c1.45 0 1.62.9 1.62 2.06v4.48h2.79z"
              ></path>
            </svg>
          </a>
          <a
            href="https://github.com/SrHAO"
            target="_blank"
            rel="noopener"
            aria-label="GitHub"
            class="social-link github"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 2C6.48 2 2 6.48 2 12c0 4.42 2.87 8.17 6.84 9.49.5.09.68-.23.68-.5 0-.25-.01-.89-.01-1.74-2.77.61-3.36-1.19-3.36-1.19-.45-1.15-1.11-1.46-1.11-1.46-.91-.62.07-.61.07-.61 1.02.07 1.55.99 1.55.99.9 1.54 2.36 1.09 2.94.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.09.39-1.98 1.03-2.68-.1-.25-.45-1.27.1-2.64 0 0 .84-.27 2.75 1.03A9.56 9.56 0 0 1 12 6.8c.85 0 1.72.11 2.53.33 1.91-.38 2.75-1.03 2.75-1.03.55 1.37.2 2.39.1 2.64.64.7 1.03 1.59 1.03 2.68 0 3.84-2.34 4.69-4.57 4.94.36.31.68.92.68 1.85 0 1.34-.01 2.42-.01 2.75 0 .27.18.73.69.6A10 10 0 0 0 18 12c0-5.52-4.48-10-10-10z"
              ></path>
            </svg>
          </a>
          <a
            href="mailto:al.yoab.nav.sa@gmail.com"
            aria-label="Email"
            class="social-link email"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
              ></path>
            </svg>
          </a>
          <a
            href="https://wa.me/5543547891?text=Hola%20quiero%20contactarte"
            target="_blank"
            rel="noopener"
            aria-label="WhatsApp"
            class="social-link whatsapp"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c-.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 01 2.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-1.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335 .157 11.892c0 2.096 .547 4.142 1.588 5.945L.057 24l6.305-1.64 4a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-1.893A11.821 1.821 0 0020.885 3.488"
              ></path>
            </svg>
          </a>
        </div>
      </div>

      <!-- Copyright -->
      <div class="copyright-section">
        <p
          class="copyright"
          data-translate
          data-en="© 2024 Alan Navarrete Profile. All rights reserved."
          data-es="© 2024 Alan Navarrete Profile. Todos los derechos reservados."
        >
          © 2024 Alan Navarrete Profile. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
