---
import "../styles/Header.css";
---

<section class="hero-wrapper">
  <header class="hero">
    <div>
      <video
        class="hero-video"
        autoplay
        muted
        loop
        playsinline
preload='metadata'
        poster="/favicon.svg"
      >
        <source src="/videos/NavVid.mp4" type="video/mp4" />
      </video>
    </div>
  </header>

  <div class="hero-overlay">
    <h1
      class="animated-title"
      data-translate
data-en='Every Component Empowers The System'
data-es='Cada Componente Fortalece Al Sistema'
    >
      Every Component Empowers The System
    </h1>
  </div>
</section>
